* {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: Montserrat;
  font-size: 22px;
  font-weight: 900;
  padding: 20px 0 20px 0;
}

.post-container {
  background-color: #fffafa;
  width: 80%;
  margin: 0 auto 0 auto;
}

.date {
  font-family: Roboto;
  color: #008080;
  padding-top: 25px;
  font-weight: 600;
  font-size: 14px;
}
.post {
  padding-left: 30px;
}
.post-content {
  font-family: "Open Sans";
  padding-bottom: 40px;
  font-size: 14px;
}
