* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header {
  background-color: #242222;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 10%;
}

.logo-bti {
  width: 200px;
}

.logo-onbitecode {
  width: 200px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttonHeader {
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 8px;
  background-color: transparent;
  border-color: white;
  color: white;
  cursor: pointer;
  transition: 0.4s;
  width: 80px;
}

.buttonHeader:hover {
  background-color: #ffffff;
  color: #000000;
  font-weight: 700;
  font-style: italic;
}
